.SidBar{
    height: 100vh;
    width: 15%;
    background-color: #1A1A25;
    position: fixed;
    margin-left: 0;
}
.SidBar img {
    width: 100%;
}

.SidBar ul{
    padding: 0;
    margin: 0;
}

.SidBar li{
    padding: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    color: white;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SidBar li:hover{
    cursor: pointer;
    background-color: #13131b;
}


.SidBar #active{
    background-color: #13131b;
}