.gridConnection{
    width: 500px;
}

.gridConnection h1{
    font-size: 30px;
}

.gridConnection button{
    background-color: #1F68FE;
    color: white;
    height: auto;
    width: 200px;
}
.gridConnection button:hover{
    background-color: #0053ff;
}

