.GarageList{
    margin-left: 15%;
    padding: 20px;
}

.header{
    display: flex;
    background-color: #212529;
    padding: 10px;
    color: white;
    border: 3px solid #3C4042;
}

table{
    margin-top: 20px;
}

table img{
    
}


table button{
    margin-left: 3px;
}

