.SelectMechanics{
    background-color: #1A1A25;
    border: 1px solid white;
    color: white;
    width: auto;
    font-size: 20px;
    padding: 15px;
}

.SelectMechanics input{
    height: 20px;
}

.SelectMechanics select{
    background-color: #1F68FE;
    height: 20px;
    width: 200px;
    margin: 0px 10px 0px 10px ;
    border: none;
}
