table{
    background-color: #1A1A25;
    color: white;
    width: 100%;
    border: none;
}
table th,td{
    border: 1px solid white;
    width: 30%;
}

table th{
    background-color: #1F68FE;
}
table button{
    width: 50px;
    height: 30px;
    background-color: #1f68fe;
    border: 1px solid black;
}

table input{
    width: 90%;
}

input{
    background-color: #1F68FE;
    border: none;
    color: white;
}

.AddGarage {
    background-color: #1A1A25;
    border: 1px solid white;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.AddGarage input{
    width: 20%;
    height: 20px;
    margin-right: 10px;
    border: 1px solid black;
}
.AddGarage button{
    width: 50px;
    height: 23px;
    background-color: #1f68fe;
    border: 1px solid black;
}
.AddGarage button:hover{
    background-color: #0053ff;
}

.AddGarage h2{
    color: white;
}

